<nav class="backdrop-blur-md shrink-0 fixed w-full border-b border-slate-900/10 z-10" data-controller="navbar" data-navbar-hidden-class="hidden">
  <div class="flex items-center justify-between px-6 py-4 lg:max-w-[1230px] lg:mx-auto">
    <button class="flex lg:hidden" data-action="click->navbar#openMobileMenu">
      <svg data-navbar-target="closeIcon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-slate-800 hidden">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
      <svg data-navbar-target="openIcon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-slate-800">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
      </svg>
    </button>

    <div class="flex">
      <p class="text-slate-800 font-bold text-lg">Tech Blog</p>
    </div>

    <div class="hidden items-center gap-8 lg:flex">
      <ul class="flex gap-6">
        <li>
          <a href="<%= relative_url '/' %>" class="text-slate-800 hover:text-sky-300 transition duration-500 ease-in-out">
            Home
          </a>
        </li>
        <li>
          <a href="<%= relative_url '/about' %>" class="text-slate-800 hover:text-sky-300 transition duration-500 ease-in-out">
            About
          </a>
        </li>
      </ul>

      <%= render 'searchbar' %>
    </div>

    <button class="flex lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-slate-800">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
      </svg>
    </button>
  </div>

  <div class="hidden" id="mobile-menu" data-navbar-target="mobileMenu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <% selected_menu = 'bg-gray-900 text-white' %>
      <% default_menu = 'text-slate-800 hover:bg-gray-700 hover:text-white' %>
      <a href="<%= relative_url '/' %>" class="<%= resource.data.slug == 'index' ? selected_menu : default_menu %> block px-3 py-2 rounded-md text-base font-medium" aria-current="page">
        Home
      </a>
      <a href="<%= relative_url '/about' %>" class="<%= resource.data.slug == 'about' ? selected_menu : default_menu %> block px-3 py-2 rounded-md text-base font-medium">
        About
      </a>
    </div>
  </div>

  <div data-navbar-target="categories" class="flex flex-row gap-3 px-6 pb-2 overflow-x-scroll scrollbar-hide lg:max-w-[1230px] lg:mx-auto">
    <% ['Guide', 'Microsoft Windows', 'Tutorial', 'Linux', 'iPhone'].each do |tag| %>
      <div class="bg-slate-50 w-auto border border-slate-900/10 rounded-full px-4 py-2">
        <p class="text-sm text-slate-700 whitespace-nowrap">
          <%= tag %>
        </p>
      </div>
    <% end %>
  </div>
</nav>

